/* Importando fonte google */

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Smooch+Sans:wght@100&display=swap');

/* Corpo do site */

body {
    background-color: rgba(248, 248, 248, 0.877);
}


/* Palavra que destaca */

h1 {
    text-align: center;
    color: black;
    font-size: 35px;
}


/* Embaixo da palavra que se destaca */

h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Smooch Sans', sans-serif;
}


/* A Palavra de introdução */

h3 {
    font-size: 80px;
    font-family: 'Didact Gothic', sans-serif;
    ;
}


/* Rodape (a ultima coisa do site */

h4 {
    text-align: center;
}

.col-6 {
    display: inline-block;
    padding: 20px;
}

#imagem {
    padding-left: 50px;
    padding-right: 70px;
}

i {
    text-align: center;
    color: black;
    font-size: 25px;
}

i2 {
    color: red;
}

h6 {
    text-align: center;
    color: black;
    font-family: 'Convergence', sans-serif;
    font-size: 25px;
}