.Navbar-Salvador{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
}  
 
a{
    color:rgba(4, 65, 231, 0.795);
    font-size: 25px;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 15px; 
}

a:hover {
    color: rgb(17, 0, 255);
}

